{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
    {% if title %}
    <title>LITReview - {{title}}</title>
    {% else %}
    <title>LITReview</title>
    {% endif %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'css/resetmeyer.css' %}">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    {% block extra_css %}
    {% endblock extra_css %}
    {% block extra_js %}
    {% endblock extra_js %}
</head>

<body>
    <header class="site-header">

        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">
                <!-- <h1>LITReview</h1> -->
                <a class="navbar-brand mr-4" href="{% url 'reviews-home' %}">LITReview</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                        <a class="nav-item nav-link" href="{% url 'reviews-home' %}">Accueil</a>

                    </div>
                    <!-- Navbar Right Side -->
                    <div class="navbar-nav">
                        {% if user.is_authenticated %}
                        <a class="nav-item nav-link" href="{% url 'reviews-ticketList' %}">Les Tickets (futur mon
                            flux)</a>
                        <a class="nav-item nav-link" href="{% url 'ticket-create' %}">Poster une demande</a>
                        <a class="nav-item nav-link" href="{% url 'profile' %}">Profil</a>
                        <a class="nav-item nav-link" href="{% url 'logout' %}">Se déconnecter</a>

                        {% else %}
                        <a class="nav-item nav-link" href="{% url 'login' %}">Se connecter</a>
                        <a class="nav-item nav-link" href="{% url 'register' %}">Inscription</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8">
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{message.tags}} ">
                    <!-- on peut faire message.tags car les noms d'alerte dans django et bootstrap sont les mêmes -->
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                {% block content %}{% endblock %}
            </div>
            <div class="col-md-4">
                <div class="content-section">
                    <h3>Mes rubriques</h3>
                    <p class='text-muted'>Les usages de l'app:
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-light">S'inscrire</li>
                        <li class="list-group-item list-group-item-light">Se connecter</li>
                        <li class="list-group-item list-group-item-light">Demander un avis <br>
                            (ticket)</li>
                        <li class="list-group-item list-group-item-light">Donner un avis <br>
                            (review suite à un ticket)</li>
                        <li class="list-group-item list-group-item-light">Suivre ses posts <br>
                            (modifier, supprimer)</li>
                        <li class="list-group-item list-group-item-light">Suivre des utilisateurs <br>
                            (afficher leurs posts/feed)</li>
                        <li class="list-group-item list-group-item-light">Page abonnements <br>
                            (afficher les utilisateurs suivis, s'abonner, se désabonner)</li>

                    </ul>
                    </p>
                </div>
            </div>
        </div>
    </main>
    <footer class="page-footer font-small blue text-center">LITReview</footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>

</html>