{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
    {% if title %}
    <title>LITReview - {{title}}</title>
    {% else %}
    <title>LITReview</title>
    {% endif %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MerchEx - {% block title %}{% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/resetmeyer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">


    {% block extra_css %}
    {% endblock extra_css %}
    {% block extra_js %}
    {% endblock extra_js %}
</head>

<body>
    <header>
        <a href="{% url 'reviews-accueil' %}">
            <h1>LITReview</h1>
        </a>
        <div class="menu">
            <nav>
                <ul>
                    <li><a href="{% url 'reviews-accueil' %}">accueil</a></li>
                    <li><a href="#flux">flux</a></li>
                    <li><a href="#posts">posts</a></li>
                    <li><a href="#abonnements">abonnements</a></li>
                    <li><a href="#se déconnecter">se déconnecter</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        {% block content %}
        {% for post in posts %}
        {% include 'post.html' %}
        {% endfor %}
        {% endblock content %}
    </main>
    <footer>LITReview</footer>

</body>

</html>