{% extends "base.html" %}

{% block content %}

<h2>Mes tickets (demande de critique)</h2>

{% for ticket in tickets %}
<div class="container">
    <h3>{{ticket.title}}</h3>
    <img src="{{ticket.image.url}}" alt="{{ticket.title}}">
    <!-- nb : si on créé un modèle livre, indiquer le titre de l'ouvrage en alt -->
    <!-- il faut servir les fichiers statics en faisant les imports dans urls.py :
    en haut from django.conf.urls.static import statics
    et dans urlpatterns = [, ajouter "+static(settings.MEDIA_URL, document_root=settings.MEDIA_ROOT),"]
    et dans settings : MEDIA_URL = l'adresse à laquelle on va acceder aux médias sur notre site : "/media/"
    et MEDIA_ROOT = BASE_DIR / "media" si le dossier "media" contenant les medias se trouve dans src -->
    <p>{{ticket.description}}</p>
    <p>{{ticket.user}}</p>
</div>
{% endfor %}

<h2>Mes Critiques</h2>

{% for critique in critiques %}
<div class="container">
    <h3>{{critique.headline}}</h3>
    <p>{{critique.body}}</p>
</div>
{% endfor %}


{% endblock content %}