{% extends "base.html" %}

{% block content %}

<h2>Mes tickets</h2>

{% for ticket in tickets %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ ticket.user }}</a>
            <small class="text-muted">{{ ticket.time_created|date:"d F Y" }}</small>
        </div>
        <h2><a class="article-title" href="#">{{ ticket.title }}</a></h2>
        <p class="article-content">{{ ticket.description }}</p>
    </div>
</article>
{% endfor %}

{% endblock content %}