{% extends "base.html" %}

{% block content %}
<h2>Créer un commentaire à propos de {{ ouvrage }}}</h2>



{% if Ticket is not None %}
<!-- si on répond à un ticket : afficher le ticket/informer de quel ticket il s'agit
    et afficher le formulaire pour répondre/créer le commentaire-->

{% else %}
<!--si pas de ticket : créer un ticket automatiquement associé à la critique
    rediriger vers création de ticket ou remplir auto les champs du ticket 'factice' -->

{% endif %}
{% endblock content %}