{% extends "base.html" %}
{% load crispy_forms_tags %}
<!-- ça correspond à createView et updateView-->

{% block content %}

{% if not ticket %}
<div>
    <h2>Créer une critique qui n'a pas encore de ticket</h2>
    <a href="{% url 'review-plus-ticket' %}" role="button" class="my-5 btn btn-outline-dark btn-lg shadow">Créer une
        critique
        et son ticket</a>
</div>
{% else %}
{% endif %}

<h2>{{action}}</h2>
<div class="content-section">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Critique</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Editer</button>
        </div>
    </form>
</div>
{% endblock content %}