{% extends "base.html" %}
{% load crispy_forms_tags %}
<!-- ça correspond à createView et updateView-->

{% block content %}
<h2>Créer une critique et son ticket</h2>
<!-- on essaye d'afficher les deux formulaires
    le champ ticket devra être le ticket associé avec la critique -->
<div class="content-section">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            {{ ticket_form|crispy }}
            <div class="media">
                {% if object.image %}
                <img class=" img-thumbnail" src="{{ object.image.url}}" alt="book cover">
                <!-- peut-on prévisualiser l'image avant éditer lors de creation ? -->
                {% else %}
                {% endif %}
            </div>
            {{ review_form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Editer</button>
        </div>
    </form>
</div>
{% endblock content %}