{% extends "base.html" %}

{% block content %}

<div class="container w-80 m-auto">
    <article id="cadre-exterieur" class="media content-section">
        <div class="row m-auto ">
            <div class="row m-auto ">
                <h4 class="col-lg-2">{{object.user}}</h4>
                <p class="col-lg-10"> a publié une critique</p>
                <!-- les boutons pour pouvoir effacer et modifier -->
                {% if object.user == user %}
                <a class="mx-2 float-right btn btn-secondary btn-sm mt-1 mb-1"
                    href="{% url 'review-update' object.id%}">modifier</a>
                <a class="float-right btn btn-danger btn-sm mt-1 mb-1"
                    href="{% url 'review-delete' object.id%}">Effacer</a>
                {% endif %}
                <div id="critique" class="col-lg-12 mx-auto">
                    <div class="article-metadata">
                        <small class="float-right text-muted">{{object.time_created|date:"H:i, d F Y"}}</small>
                    </div>
                    <div class="row mt-3">
                        <p class="pl-2 col-9">{{object.headline}}</p>
                        <p class="col-3">rating ={{object.rating}}</p>
                        <p class="pl-2 article-content">{{object.body}}</p>
                    </div>
                </div>
            </div>
            <div id="enReponseA" class="w-100 content-section mx-auto row m-auto ">
                <p class=" w-100">En réponse à {{ object.ticket.user }}</p>
                <div class="col">
                    <div class="article-metadata">
                        <small class="float-right text-muted">{{ object.ticket.time_created|date:"H:i, d F Y"}}
                        </small>
                    </div>
                    <p>{{ object.ticket.title }} :</p>
                    <p class="article-content">{{ object.ticket.description }}</p>
                    {% if object.ticket.image %}
                    <div class="media">
                        <img class="img-thumbnail float-right" src="{{ object.ticket.image.url}}" alt="book cover">
                    </div>
                    {% else %}
                    {% endif %}
                </div>
            </div>
        </div>
    </article>
</div>
{% endblock content %}