{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col text-center">
            <a href="{% url 'ticket-create' %}" role="button" class="my-5 btn btn-outline-dark btn-lg">Demander une
                critique</a>
        </div>
        <div class="col text-center">
            <a href="{% url 'review-create' %}" role="button" class="my-5 btn btn-outline-dark btn-lg">Créer une
                critique</a>
        </div>
    </div>
</div>
<h2>Mes tickets</h2>
{% for ticket in tickets %}
<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ ticket.user.profile.image.url}}" alt="user profile image">
    <div class="media-body">
        <div class="article-metadata">
            <h4>{{ ticket.user }}</h4>
            <small class="text-muted">{{ ticket.time_created|date:"d F Y" }}</small>
        </div>
        <h2><a class="article-title" href="{% url 'reviews-ticket-detail' ticket.id  %}">{{ ticket.title }}</a></h2>
        <p class="article-content">{{ ticket.description }}</p>
    </div>
    <a class="mr-5 align-self-end btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'review-create' %}">Répondre</a>
</article>
{% endfor %}

{% endblock content %}