<!DOCTYPE html>
<html lang="en">

<head>
    <title>LITReview</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header>
        <h1>
            LITReview
        </h1>
        <nav>
            <ul>
                <li>
                    <a href="base.html">Accueil</a>
                </li>
                <li>
                    <a href="base.html">Pages</a>
                    <ul>
                        <li>
                            <a href="#flux">flux</a>
                        </li>
                        <li>
                            <a href="#posts">posts</a>
                        </li>
                        <li>
                            <a href="#abonnements">abonnements</a>
                        </li>
                        <li>
                            <a href="#se déconnecter">se déconnecter</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock content %}
    </main>
    <footer>LITReview</footer>

</body>

</html>